# Visual Studio stuff
.vs/
.vscode/
CMakeSettings.json
CMakePresets.json
out/
# Recommended build directory
Release/
Debug/
# Binary files leftover 
*.exe
*.so
*.lib
*.o
*.out
*.dll
*.a
# Compressed files for whatever reason
*.zip
*.7z
# Bindings stuff
__pycache__/
